
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: linear-gradient(to right, rgb(255, 128, 191), rgb(141, 141, 242));
  display: flex;
  flex-direction: column;
}

/*Encabezado*/

header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;   
  align-items: center;
  justify-content: space-between;
}

.titulo{
  font-family: 'Bebas Neue', sans-serif;
  font-size: 48px;
  letter-spacing: 2px;
  color: #ffffff;
}

.presentacion p{
  font-family: 'Poppins', sans-serif;
  margin: 40px;
  line-height: 1.6;
  font-size: 18px;
  color: #000000;
  font-weight: bold;
}

/*buscador*/
    
.d-flex .btn{
  border: #6b094c solid 5px;
  background-color: #6b094c;
  color: #ffffff;
}

.d-flex .btn:hover{
  background-color: #f0ccf3;
  border: #f0ccf3 solid 5px;
}


/* Logo */
.navbar-brand img {
  height: 100px;
  margin-right: 200px;
}

/*Carusel*/
.carousel{
  max-width: 1000px;
  margin: 0 auto;
}

.carousel img{
  border-radius: 10px;
}


/* Presentación */
.presentacion {
  text-align: center;
  padding: 2rem;
  color: #333;
}

main {
 margin-top: 155px; 
}

/* Cuadro título */
.cuadro h2 {
  text-align: center;
  margin: 2rem 0;
  color: #ffffff;
  font-family: "Rubik Doodle Shadow", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
}

/*categoria*/
.categoria{
  margin-bottom: 30px;
  margin-left: 20px;
}
.btn{
  border: rgb(0, 0, 0) 2px solid;
  background-color: #fdc0e9;
  transition: background-color 0.3s ease;
  color: black;
  margin-bottom: 20px;
}

.btn:hover{
  background-color: #fffdba;
  color: #000000;
}

/* Tarjetas de álbum */
.album {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
  transition: transform 0.2s ease;
}
.album:hover {
  transform: scale(1.03);
  background-color: rgba(213, 248, 160, 0.5);
}
.rosa:hover{
  transform: scale(1.03);
  background-color: rgba(255, 186, 238, 0.5);
}
.marron:hover{
  transform: scale(1.03);
  background-color: rgba(144, 106, 29, 0.5);
}
.amarrillo:hover{
  transform: scale(1.03);
  background-color: rgba(249, 255, 144, 0.5);
}
.rojo:hover{
  transform: scale(1.03);
  background-color: rgba(255, 153, 153, 0.5);
}
.verde:hover{
  transform: scale(1.03);
  background-color: rgba(208, 255, 153, 0.5);
}
.vino:hover{
  transform: scale(1.03);
  background-color: rgba(255, 181, 181, 0.5);
}
.album img {
  width: 100%;
  border-radius: 10px;
}

.bts{
  border: 5px #562e0a solid;
  background-color: #562e0a;
  color: white;
}

.bts:hover{
  background-color: #fdef74;
  color: #000000;
}

.blackpink{
  border: 5px #ce1cb0 solid;
  background-color: #ce1cb0;
  color: white;
}

.blackpink:hover{
  border: #efabe2 5px solid;
  background-color: #efabe2;
  color: #000000;
}

.twice{
  border: 5px #fff641 solid;
  background-color: #fff641;
  color: rgb(0, 0, 0);
}

.twice:hover{
  border: #faffba 5px solid;
  background-color: #fafffa;
  color: #000000;
}

.straykids{
  border: 5px #6c0515 solid;
  background-color: #6c0515;
  color: white;
}

.straykids:hover{
  border: #eda79f 5px solid;
  background-color: #eda79f;
  color: #000000;
}

.seventeen{
  border: 5px #0f8942 solid;
  background-color: #0f8942;
  color: white;
}

.seventeen:hover{
  border: #87eaa6 5px solid;
  background-color: #87eaa6;
  color: #000000;
}

.itzy{
  border: 5px #ee1818 solid;
  background-color: #ee1818;
  color: white;
}

.itzy:hover{
  border: #cd816f 5px solid;
  background-color: #cd816f;
  color: #000000;
}

.banda{
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-size: normal;
  font-variation-settings: "wdth" 100;
}
.album h3{
 font-family: "Madimi One", sans-serif;
 font-weight: 400;
 font-style: normal
}

/*3 tarjetas*/
.album2 {
 background: white;
 border-radius: 50px;
 padding: 10px;
 text-align: center;
 box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
 max-width: 300px;
 margin: 0 auto;
 margin-bottom: 50px;
 background-color: rgba(255, 255, 255, 0.1);
}


.album2 h3{
  font-size: 18px;
  color: #000000;
  font-family: "Protest Riot", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.corazon{
  max-width: 300px;
  margin: 0 auto;
  border: rgb(0, 0, 0) 2px  ;
}

.rosado{
  border: rgb(0, 0, 0) 2px ;
  margin-bottom: 0px;
}

.pulgar{
  margin-top: 0px;
}
.album:hover {
  transform: scale(1.03);
}
.album2 img {
  width: 40%;
  height: auto;
  border-radius: 10px;
}

.razon{
  font-family: "Delius", cursive;
  font-weight: 400;
  font-style: normal;
}
/*formulario*/
.forms{
  background-color: #6b094c;
  color: white;
}
    
.formulario{
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  padding: 40px;
}

.texto{
  text-align: center;
}
.texto p{
  font-family: "Averia Gruesa Libre", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

.star{
  width: 50%;
}
    
/* Footer */

footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: auto;
}

