body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #d22592;
  display: flex;
  flex-direction: column;
}

/*Encabezado*/

header{
  background-color: rgba(255, 133, 243, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
      
}

.navbar-brand img {
  height: 100px;
  margin-right: 200px;
  margin-left: 20px;
  display: block;
  margin: 0 auto;
  
}


    
/*boton del carrito*/
    
.d-flex .btn{
    border: #000000 solid 5px;
    background-color: #000000;
    color: #ffffff;
}

.d-flex .btn:hover{
    background-color: #f0ccf3;
     border: #f0ccf3 solid 5px;
}

/*Cuerpo*/
 
.apartado-cuerpo {
  background-color:rgb(255, 255, 255);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  text-align: center;
  max-width: 1000px;
  margin: auto;
  border: rgb(0, 0, 0) solid 2px;
  margin-top: 150px;
  margin-bottom: 50px;

}



/*Tarjetas de los discos*/

.album {
  background-color: rgba(255, 71, 224, 0.5);
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
  transition: transform 0.2s ease;
  
}
.album:hover {
  transform: scale(1.03);
  background-color: rgba(246, 167, 204, 0.5);
}
    
.album img {
  width: 100%;
  border-radius: 10px;
  
}

    
/*Boton de precio*/
.precio{
  border: 10px #d22592 solid;
  border-radius: 5px;
  background-color: #d22592;
  color: #ffffff;
  margin-right: 10px;
}


   /*letra de los albunes*/
.album h4{
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-family: "Chela One", system-ui;
  font-weight: 400;
  font-style: normal; 
}

  

/*Footer*/
footer {
 background: #333;
 color: white;
 text-align: center;
 padding: 1rem;
 margin-top: auto;
}
